body.dark-mode {
    background: linear-gradient(135deg, #121212, #333333);
    color: #ffffff;
}

body.dark-mode #dark-mode-toggle {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode #dark-mode-toggle:hover {
    background-color: #444444; /* Darker hover color for dark mode */
}

body.dark-mode #search-bar {
    background-color: #333333;
    color: #ffffff;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    background-clip: padding-box;
    border-radius: 25px; /* Fully rounded edges */
}

body.dark-mode #search-bar:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 193, 255, 0.5); /* Focus shadow */
}

body.dark-mode .clear-button {
    color: #888;
}

body.dark-mode .clear-button:hover {
    color: #ffffff;
}

body.dark-mode .progress-indicator {
    color: #80CBC4;
}

body.dark-mode .logo-container {
    color: #A7FFEB; /* Adjust logo color for dark mode */
}

body.dark-mode .search-button {
    background-color: #80CBC4;
    border-radius: 50%; /* Fully rounded corners */
}

body.dark-mode .search-button:hover {
    background-color: #4DB6AC; /* Darker hover color for dark mode */
}

body.dark-mode #suggestions-container {
    background-color: #333333;
    color: white;
}

body.dark-mode .suggestion:hover {
    background-color: #444444;
}

body.dark-mode footer {
    color: #ffffff;
}

body.dark-mode button {
    background-color: #ffffff;
    color: #009688;
}

body.dark-mode button:hover {
    background-color: #dddddd;
    color: #009688;
}

body.dark-mode #dark-mode-icon {
    content: "\f186"; /* Moon icon for dark mode (Font Awesome) */
}
