body.dark-mode {
    background: linear-gradient(135deg, #121212, #333333);
    color: #ffffff;
}

body.dark-mode #dark-mode-toggle {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode #dark-mode-toggle:hover {
    background-color: #444444; /* Darker hover color for dark mode */
}

body.dark-mode #search-bar {
    background-color: #333333;
    color: #ffffff;
    border: none; /* Removed border */
    -webkit-appearance: none; /* Removes default appearance in WebKit browsers */
    -moz-appearance: none; /* Removes default appearance in Mozilla browsers */
    appearance: none; /* Removes default appearance */
    outline: none; /* Ensure no outline */
    box-shadow: none; /* Removes any box shadow */
    background-clip: padding-box; /* Ensures no inner border lines */
}

body.dark-mode #search-bar:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 193, 255, 0.5); /* Focus shadow */
}

body.dark-mode .logo-container {
    color: #A7FFEB; /* Adjust logo color for dark mode */
}

body.dark-mode .search-button {
    background-color: #80CBC4;
}

body.dark-mode .search-button:hover {
    background-color: #4DB6AC; /* Darker hover color for dark mode */
}

body.dark-mode #suggestions-container {
    background-color: #333333;
    color: white;
}

body.dark-mode .suggestion:hover {
    background-color: #444444;
}

body.dark-mode footer {
    color: #ffffff;
}

body.dark-mode button {
    background-color: #ffffff;
    color: #009688;
}

body.dark-mode button:hover {
    background-color: #dddddd;
    color: #009688;
}

body.dark-mode #dark-mode-icon {
    content: "\f186"; /* Moon icon for dark mode (Font Awesome) */
}
