body.dark-mode {
    background: linear-gradient(135deg, #121212, #333333);
    color: #ffffff;
}

body.dark-mode #dark-mode-toggle {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode #dark-mode-toggle:hover {
    background-color: #444444; /* Darker hover color for dark mode */
}

body.dark-mode #search-bar {
    background-color: #333333;
    color: #ffffff;
    border-color: #A7FFEB;
}

body.dark-mode #search-bar:focus {
    border-color: #80CBC4; /* Lighter Mint Green for Dark Mode */
}

body.dark-mode .logo-container {
    color: #A7FFEB; /* Adjust logo color for dark mode */
}

body.dark-mode .search-button {
    background-color: #80CBC4;
}

body.dark-mode .search-button:hover {
    background-color: #4DB6AC; /* Darker hover color for dark mode */
}

body.dark-mode footer {
    color: #ffffff;
}

body.dark-mode button {
    background-color: #ffffff;
    color: #009688;
}

body.dark-mode button:hover {
    background-color: #dddddd;
    color: #009688;
}

body.dark-mode #dark-mode-icon {
    content: "\f186"; /* Moon icon for dark mode (Font Awesome) */
}
